[tool.poetry]
authors = ["Joel Collins <joel.collins@renalregistry.nhs.uk>"]
description = ""
name = "ukrdc-fastapi"
packages = [
  {include = "ukrdc_fastapi"},
]
version = "2.2.1"

[tool.poetry.dependencies]
SQLAlchemy = "^1.4.42" 
fastapi = "^0.89.1" 
fastapi-pagination = {extras = ["sqlalchemy"], version = "^0.11.2"} 
fastapi-utils = "^0.2.1" 
httpx = "^0.23.0" 
mirth-client = "^3.0.0" 
okta-jwt-verifier = "^0.2.3" 
psycopg2-binary = "^2.9.5" # Needed for postgres
pydantic = {extras = ["dotenv"], version = "^1.10.1"} 
python = "^3.9" 
python-stdnum = "^1.16" 
redis = "^4.3.3" 
sentry-sdk = "^1.12.1" 
single-source = "^0.3.0" 
ukrdc-sqla = "2.0.0" 
ukrdc-stats = "^0.4.2" 
ukrdc-xsdata = "^3.3.0" 
uvicorn = "^0.20.0" 

[tool.poetry.dev-dependencies]
bandit = "^1.7.4"
black = {version = "^22.1", allow-prereleases = true}
coverage = {extras = ["toml"], version = "^7.0"}
fakeredis = "^2.0"
isort = "^5.11.2"
mypy = "^0.991"
pre-commit = "^2.20.0"
pylint = "^2.15.9"
pytest = "^7.2"
pytest-asyncio = "^0.20.1"
pytest-cov = "^4.0.0"
pytest-httpx = "^0.21"
pytest-mock = "^3.8.2"
pytest-postgresql = "^3.1.1"
sqlalchemy-stubs = "*"
tox = "^4.2.4"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.mypy]
plugins = "sqlmypy"

[[tool.mypy.overrides]]
ignore_missing_imports = true
module = [
  "stdnum.*",
  "okta_jwt_verifier.*",
  "uvicorn.*",
  "redis.*",
  "ukrdc_xsdata.*",
]

[tool.black]
exclude = '(\.eggs|\.git|\.venv|node_modules/)'

[tool.isort]
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
line_length = 88
multi_line_output = 3
use_parentheses = true

[tool.pylint.'MESSAGES CONTROL']
# unsubscriptable-object is disabled until proper Python 3.9 support is fixed in PyLint
disable = "duplicate-code, pointless-string-statement, unsubscriptable-object, fixme, missing-module-docstring, missing-class-docstring, too-few-public-methods, too-many-arguments, line-too-long, too-many-locals, too-many-ancestors, too-many-instance-attributes"
max-line-length = 88

[tool.pylint.'TYPECHECK']
ignored-classes = "Session" # PyLint struggles with dynamic SQLAlchemy sessions

[tool.pylint.'MASTER']
extension-pkg-whitelist = "pydantic" # PyLint struggles with Pydantic in GH Actions

[tool.pylint.'BASIC']
good-names = "id,ni,i,e,logger"

[tool.pylint.'SIMILARITIES']
ignore-imports = "yes"

[tool.coverage.run]
# Both dependencies and main contain a lot of production-specific code, such as
# real DB connections and Sentry reporting. We can't run these lines in our unit
# tests so we exclude them from coverage reports.
omit = [
  "ukrdc_fastapi/dependencies/*",
  "ukrdc_fastapi/main.py",
  "ukrdc_fastapi/tasks/shutdown.py",
  "ukrdc_fastapi/tasks/repeated.py",
  "ukrdc_fastapi/routers/api/v1/debug.py",
]

[tool.pytest.ini_options]
addopts = "--cov=ukrdc_fastapi"
asyncio_mode = "auto"
minversion = "6.0"
testpaths = [
  "tests",
]

[tool.coverage.report]
exclude_lines = ["raise HTTPException"]
